[Unit]
Description=Swarm Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
{% if swarm_master -%}
ExecStart=/usr/bin/docker run -p 4000:4000 --name swarm swarm manage -H :4000 --replication --advertise {{advertise_ip}}:4000 consul://{{ consul_ip }}:8500
{% else -%}
ExecStart=/usr/bin/docker run --name swarm swarm join --advertise={{advertise_ip}}:2375 consul://{{ consul_ip }}:8500
{% endif -%}
ExecStop=/usr/bin/docker stop -t 2 swarm ; /usr/bin/docker rm -f swarm

[Install]
WantedBy=default.target

