{# import all variables from a central location #}
{% import "consul/variables.jinja" as vars -%}

[Unit]
Description=Consul Agent
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
TimeoutStartSec=5
EnvironmentFile={{vars.consul_systemd_environment}}
ExecStart=/usr/local/bin/consul agent -config-dir "$CONFIG_DIR"
ExecStartPost=-/bin/bash -c "echo sleeping; /bin/sleep 3; echo joining; \
                            /usr/local/bin/consul join $CLUSTER_ADDRESSES"
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
User={{vars.consul_user}}
Group={{vars.consul_user}}

[Install]
WantedBy=multi-user.target