# managed by salt

[Unit]
Description=Consul Agent
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
TimeoutStartSec=5
EnvironmentFile={{environmentfile}}
{%if isserver -%}
ExecStartPre=/bin/bash -c "/bin/rm -rf {{datadir}}/*"
{% endif -%}
ExecStart=/usr/local/bin/consul agent -config-dir "$CONFIG_DIR"
ExecStartPost=-/bin/bash -c "echo sleeping; /bin/sleep 3; echo joining; \
                            /usr/local/bin/consul join ${CLUSTER_ADDRESSES}"
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
User={{user}}
Group={{user}}

[Install]
WantedBy=multi-user.target