# gluster variables

## physical disk config
{% set gluster_device = salt['grains.get']('gluster:disk', salt['pillar.get']('gluster:disk', '')) %}
{% set gluster_vg_name = salt['grains.get']('gluster:lvm:vg_name', salt['pillar.get']('gluster:lvm:vg_name', '')) %}
{% set gluster_lv_name = salt['grains.get']('gluster:lvm:lv_name', salt['pillar.get']('gluster:lvm:lv_name', '')) %}

## gluster cluster
{% set gluster_peers = salt['grains.get']('gluster:peers', salt['pillar.get']('gluster:peers', [])) %}
## cluster volume
{% set gluster_volume_directory = salt['grains.get']('gluster:volume:directory', salt['pillar.get']('gluster:volume:directory', '')) %}
{% set gluster_volume_name = salt['grains.get']('gluster:volume:name', salt['pillar.get']('gluster:volume:name', '')) %}
